@mixin flex-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin grid-element($row-span) {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    grid-row: $row-span;
}

@mixin rounded {
    border-radius: 10px;
}
