// accents
$accent-warm: #ef5562;
$accent-warm-light: #ffa66d;
$accent-cold: #0094ec;
$accent-cold-light: #4acdff;
$accent-mint: #00cfa5;
$accent-mint-light: #85f58c;

// text colors
$dark-black: #050f1b;
$light-white: #e6e8ff;
// light misc
$pastel-pink: #f8afb4;
$pastel-blue: #a4c3ef;
$pastel-yellow: #fdf8c1;
$pastel-green: #a6f7b4;
// dark misc
$dark-steel: #222f45;
$tinted-azure: #3254a5;
$tinted-teal: #2180b3;

$font-weights: (
    "thin": 200,
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

@font-face {
    font-family: Cormorant;
    src: url();
}
