<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Category Table</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="">
                                <thead class="text-primary">

                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Category Name</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    {% for category in category_table %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.category_name }}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>