<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">DB Version Table</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="">
                                <thead class="text-primary">

                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Load Time</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    {% for db_version in db_version_table %}
                                        <tr>
                                            <td>{{ db_version.id }}</td>
                                            <td>{{ db_version.version }}</td>
                                            <td>{{ db_version.load_time }}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>