        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Exercises Table</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="">
                                <thead class="text-primary">

                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Exercise Name</th>
                                        <th scope="col">Exercise Instructions</th>
                                        <th scope="col">Exercise Description</th>
                                        <th scope="col">Exercise Length</th>
                                        <th scope="col">Cumulative Rating</th>
                                        <th scope="col">Category ID</th>
                                        <th scope="col">User Rating Count</th>
                                        <th scope="col">Exercise Inhale</th>
                                        <th scope="col">Exercise Inhale Pause</th>
                                        <th scope="col">Exercise Exhale</th>
                                        <th scope="col">Exercise Exhale Pause</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    {% for exercise in exercise_table %}
                                        <tr>
                                            <td>{{ exercise.id }}</td>
                                            <td>{{ exercise.exercise_name }}</td>
                                            <td>{{ exercise.exercise_instructions }}</td>
                                            <td>{{ exercise.exercise_description }} </td>
                                            <td>{{ exercise.exercise_length }} </td>
                                            <td>{{ exercise.exercise_rating }}</td>
                                            <td>{{ exercise.category_id }}</td>
                                            <td>{{ exercise.user_rating_count }}</td>
                                            <td>{{ exercise.exercise_inhale }}</td>
                                            <td>{{ exercise.exercise_inhale_pause }}</td>
                                            <td>{{ exercise.exercise_exhale }}</td>
                                            <td>{{ exercise.exercise_exhale_pause }}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>