<div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Routine Table</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="">
                                <thead class="text-primary">

                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Exercise Id</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    {% for routine in routine_table %}
                                        <tr>
                                            <td>{{ routine.id }}</td>
                                            <td>{{ routine.user_id }}</td>
                                            <td>{{ routine.exercise_id }}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>