{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock %}

{% block content %}

    <div class="content">
        <ul class="tab-list">
            <li class="active tab" data-tab-target="#users">Users</li>
            <li class="tab" data-tab-target="#exercises">Exercises</li>
            <li class="tab" data-tab-target="#routine">Routine</li>
            <li class="tab" data-tab-target="#favorites">Favorites</li>
            <li class="tab" data-tab-target="#category">Category</li>
            <li class="tab" data-tab-target="#user-rating">User Rating</li>
            <li class="tab" data-tab-target="#db-version">DB Version</li>
        </ul>

        <div class="tab-content">
            <div id="users" class="active" data-tab-content>
                {% include 'tables/users.html' %}
            </div>
            <div id="exercises" data-tab-content>
                {% include 'tables/exercises.html' %}
            </div>
            <div id="routine" data-tab-content>
                {% include 'tables/routine.html' %}
            </div>
            <div id="favorites" data-tab-content>
                {% include 'tables/favorites.html' %}
            </div>
            <div id="category" data-tab-content>
                {% include 'tables/category.html' %}
            </div>
            <div id="statistics" data-tab-content>
                {% include 'tables/statistics.html' %}
            </div>
            <div id="user-rating" data-tab-content>
                {% include 'tables/user_rating.html' %}
            </div>
            <div id="db-version" data-tab-content>
                {% include 'tables/db_version.html' %}
            </div>
        </div>
    </div>

{% endblock content %}
