        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Users Table</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="">
                                <thead class="text-primary">

                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">Created Time</th>
                                        <th scope="col">Confirmed</th>
                                        <th scope="col">Confirmed On</th>
                                        <th scope="col">Consecutive Days</th>
                                        <th scope="col">Last login</th>
                                    </tr>

                                </thead>
                                <tbody>

                                    {% for user in users_table %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.firstname }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.password }} </td>
                                            <td>{{ user.created_time }} </td>
                                            <td>{{ user.is_confirmed }}</td>
                                            <td>{{ user.confirmed_on }}</td>
                                            <td>{{ user.consecutive_days }}</td>
                                            <td>{{ user.last_login }}</td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>