{% extends 'base.html' %}
{% block title %}
    Forgot you password
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="{{ url_for('.static', filename='js/app.js')}}"></script>

    <div id='two' class='modal'>
        <div class='modal-content'>
            <!-- Modal header -->
            <div class="modal-header">
                   <i class="fa fa-envelope-o circle"></i>
            </div>
            <h2>Check your email</h2>
            <!-- Modal body -->
            <div class="modal-body br">
                <p>
                    <span>We sent a password reset link to</span>
                    <span>{{ email }}</span>
                </p>
            </div>
            <hr>
            <!-- Modal footer -->
            <div class="modal-footer">
                <p>
                    <a class="button--dynamic" href="{{ url_for('user.login') }}"><span>&#8592;</span>Back to log in</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}