{% extends 'base.html' %}
{% block title %} Email Settings {% endblock %}
{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('user.static', filename='css/user.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/form-validity.css') }}">

<!--  JS  -->
<script defer src="{{ url_for('.static', filename='js/email-validity.js') }}"></script>

{% include 'includes/sidebar.html' %}
<div>
	<form id="form" method="POST" action="/settings/emails/{{ user_email.id }}" class="form-register">
		{{ form.hidden_tag() }}

		<fieldset>
			<legend>Emails</legend>
			<div class="form-container">
				<!-- Email input -->
				<div class="form-section input-control">
					{{ form.email.label(class='form-label') }}
					{% if form.email.errors %}
					{{ form.email(class="form-control is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
						<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
					{{ form.email(value=user_email.email) }}
					{% endif %}
				</div>
				<span class="email-validity-summary"></span>
			</div>

		</fieldset>
		{{ form.submit(class="button--blue") }}
	</form>
</div>

{% endblock %}