{% extends 'base.html' %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

<div>
    <form method="POST" action="" class="form-register">
        {{ form.hidden_tag() }}

        <fieldset>
            <legend>Forgot Your Password?</legend>
            <div class="form-container">
                <div class="form-section">
                    {{ form.email.label(class='form-label') }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        {{ form.submit(class="button") }}
    </form>
</div>
{% endblock %}