{% extends 'base.html' %}
{% block title %}
    verify email
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
    <script defer src="{{ url_for('.static', filename='js/app.js')}}"></script>

    <div id='one' class='modal'>
        <div class='modal-content'>
            <!-- Modal header -->
            <div class="modal-header">
                    <h2>Welcome</h2>
            </div>
            <hr>
            <!-- Modal body -->
            <div class="modal-body">
                <p>
                    You have not confirmed your account. Please check you (and your spam folder) - you should have received an
                    email with a confirmation link.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <span>Didn't get the email?</span>
                <p>
                    <a class="button" href="{{ url_for('user.resend_confirmation') }}">resend</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
