{% extends 'base.html' %}
{% block title %}
    401
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('errors.static', filename='css/errors.css') }}">
    <div class='error-container'>
        <div class='error-content'>
            <!-- error header -->
            <div class="error-header">
                <h2 class="second-heading">401</h2>
                <h4 class="fourth-heading">unauthorized page</h4>
                <img
                            src="{{ url_for('errors.static', filename='img/403Image.png' ) }}"
                            class="error-header__img"
                />
            </div>
            <!-- error body -->
            <div class="error-body">
                <p class="error-body__text">
                    Your authorization failed.
                    <br>If you think you found this page when you shouldn't have, please let us know at admin@inner-air.com.  See our <a href="{{ url_for('main.about') }}" class="error-body__link">about</a> page for more!
                </p>
            </div>
            <!-- error footer -->
            <div class="error-footer">
                <p class="error-footer__item">
                    <a class="button error-footer__link" href="{{ url_for('main.home') }}">back to home</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}