{% extends 'base.html' %}
{% block title %}
    404
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('errors.static', filename='css/styles.css') }}">
    <div class='error-container'>
        <div class='error-content'>
            <!-- error header -->
            <div class="error-header">
                    <h2>404</h2>
                    <h4>oops! page not found</h4>
            </div>
            <!-- error body -->
            <div class="error-body">
                <p>
                    The page you were looking for doesn't exist. You may have<br>mistyped the address or the page may have moved.
                </p>
            </div>
            <!-- error footer -->
            <div class="error-footer">
                <p>
                    <a class="button" href="{{ url_for('main.home') }}">back to home</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
