// only two for now. Will make more in the future
.button {
    background-color: $accent-warm;
    padding: 0.5rem 0.7rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0.3rem 10px rgba($accent-warm, 0.5);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $accent-warm-light;
        color: $dark-steel;
    }

    &--dynamic {
        @extend .button;
        &:hover {
            margin: 0 0.8rem;
            transform: scale(1.1);
        }
    }
}
