@import "toolbox/toolbox";
@import "layouts/layouts";
@import "components/components";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include flex-spread;
    background-color: $pastel-pink;
    background-image: linear-gradient(
        $tinted-teal,
        $pastel-blue 60%,
        $pastel-pink,
        $pastel-yellow
    );

    color: $light-white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .container {
        min-width: 85%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        background-color: $dark-steel;
        background-image: linear-gradient(
            0deg,
            $dark-steel 85%,
            $tinted-azure 99%
        );
        min-height: 100vh;
        height: fit-content;
    }
}
