{% extends 'base.html' %}
{% block title %}
Inner Air
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/about.css') }}">

<div class="about">
    <div class="box">
        <img src="{{ url_for('main.static', filename='img/about/jade.jpg') }}" class="about_img">
        <h2>Jade</h2>
        <p>Jade is a human who enjoys eating food and drinking water.</p>
    </div>
    <div class="box">
        <img src="{{ url_for('main.static', filename='img/about/andrew.jpg') }}" class="about_img">
        <h2>Andrew</h2>
        <p>Andrew is a person who exists and enjoys breathing oxygen and walking with his human legs.</p>
    </div>
    <div class="box">
        <img src="{{ url_for('main.static', filename='img/about/chris1.jpg') }}" class="about_img">
        <h2>Christian</h2>
        <p>Christian is a dude from N.C.</p>
    </div>
    <div class="box">
        <img src="{{ url_for('main.static', filename='img/about/karina.jpg') }}" class="about_img">
        <h2>Karina</h2>
        <p>Will come to your house and sort everything by color.</p>
    </div>
    <div class="box">
        <img src="{{ url_for('main.static', filename='img/about/jose.jpg') }}" class="about_img">
        <h2>Jose</h2>
        <p>Jose is a ¯\_(ツ)_/¯</p>
    </div>
</div>

<section class="contact">
    <h1>Questions?</h1>
    <h2>Contact us at admin@inner-air.com</h2>
</section>

{% endblock %}
