<header>
	<link rel="stylesheet" href="{{ url_for('main.static', filename='css/header_nav.css')}}">

	<nav class="header-container">
		<a href="{{ url_for('main.home') }}">
			<img src=" {{ url_for('main.static', filename='img/logo_text.svg' ) }}" class="logo"></img>
		</a>

		<div class="navigation-container">
			{% if not current_user.is_confirmed %}
			<p id = "quote"> GET MOTIVATED </p>
			{% endif %}
			<div class="navigation">
				{% if current_user.is_confirmed %}
					{% if 'exercises' in request.path %}
					<a class="nav-link active" href="{{ url_for('exercises.exercises') }}">EXERCISES</a>
					{% else %}
					<a class="nav-link" href="{{ url_for('exercises.exercises') }}">EXERCISES</a>
					{% endif %}

					{% if current_user.is_admin %}
					{% if 'userlist' in request.path %}
					<a class="nav-link active" href="{{ url_for('userlist.userlist') }}">User List</a>
					{% else %}
					<a class="nav-link" href="{{ url_for('userlist.userlist') }}">User List</a>
					{% endif %}
					{% endif %}

					{% if 'profile' in request.path %}
					<a class="nav-link active" href="{{ url_for('profile.profile') }}">Profile</a>
					{% else %}
					<a class="nav-link" href="{{ url_for('profile.profile') }}">Profile</a>
					{% endif %}

					{% if 'leaderboard' in request.path %}
					<a class="nav-link active" href="{{ url_for('leaderboard.leaderboard') }}">Leaderboard</a>
					{% else %}
					<a class="nav-link" href="{{ url_for('leaderboard.leaderboard') }}">Leaderboard</a>
					{% endif %}
				{% endif %}
			</div>
		</div>

		<div class="buttons">
			{% if current_user.is_admin %}
			<a class="button--red--dynamic" href="{{ url_for('admin.admin') }}">ADMIN</a>
			{% endif %}
			{% if current_user.is_authenticated %}
			{% if not current_user.is_confirmed %}
			<a class="button--red--dynamic" href="{{ url_for('profile.profile') }}">VERIFY</a>
			{% else %}
			<a class="button--blue--dynamic" href="{{ url_for('user.profile', id=current_user.id) }}">SETTINGS</a>
			{% endif %}
			<a class="button--red--dynamic" href="{{ url_for('user.logout') }}">SIGN OUT</a>
			{% else %}
			<a class="button--red--dynamic" href="{{ url_for('user.login') }}">SIGN IN</a>
			<a class="button--blue--dynamic" href="{{ url_for('user.register') }}">SIGN UP</a>
			{% endif %}
		</div>
	</nav>
	<script src="{{ url_for('main.static', filename='js/index_quote.js') }}"></script>
</header>
