@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200;400;700&family=Comfortaa:wght@300;400;700&family=Roboto+Serif:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,800&display=swap");
.profile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
  /*
      .column {
          min-height: 50em;
          width: 50%;
      }

      @media screen and (max-width: 1080px) {
          .column {
              width: 100%;
              min-height: auto;
          }
      }

  */
}
.profile-wrapper .column {
  width: 100%;
}
.profile-wrapper .chart {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  height: 30em;
  background-color: #a4c3ef;
  border-radius: 10px;
  margin: auto;
}