{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}

    <div class="container-fluid overlay position-fixed min-vh-100 py-5 mt-5">
        <h1>Welcome, {{ current_user.firstname }} </h1>

        <h2 class="text-center">Users</h2>
        <table class="table table-hover table-dark">
            <!-- User Model -->
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Created Time</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }} </td>
                    <td>{{ user.created_time }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Exercise Model -->
        <h2 class="text-center">Exercises</h2>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Exercise Name</th>
                    <th scope="col">Exercise Instructions</th>
                    <th scope="col">Exercise Description</th>
                    <th scope="col">Exercise Length</th>
                    <th scope="col">Cumulative Rating</th>
                    <th scope="col">Category ID</th>
                </tr>
            </thead>
        </table>
    </div>

{% endblock %}