{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}

<!-- Chart JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>


<h1>Welcome, {{ current_user.firstname }} </h1>

<h2 class="text-center">Exercises</h2>
<table class="table table-hover table-dark">
    <thead>
                <tr>
                    <th scope="col">Exercise Name</th>
                    <th scope="col">Add to Favorites</th>
                </tr>
    </thead>
    <tbody>
                {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.exercise_name }}</td>
                    <td>
                        {% if exercise.id not in showFavAdd %}
                        <form method="post">
                            <input name="exercise_id" type="hidden" value="{{ exercise.id }}"> </input>
                            <input name="user_id" type="hidden" value="{{ current_user.id }}"> </input>
                            <button type="submit" name="favoriteButton">Add to Favorites</button>
                        </form>
                        {% endif %}
                        {% if  exercise.id  in showFavAdd %}
                        <form method="post">
                            <input name="exercise_id" type="hidden" value="{{ exercise.id }}"> </input>
                            <input name="user_id" type="hidden" value="{{ current_user.id }}"> </input>
                            <button type="submit" name="favoriteButtonRemove">Remove from Favorites</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</table>


<canvas id="lineChart" width="400" height="400"></canvas>

<script>
var ctx = document.getElementById("lineChart").getContext("2d");
var lineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ xData | tojson }},
    datasets: [
      {
        label: "Number of Exercises completed",
        data: {{ yData | tojson }},
        fill: false,
        lineTension: 0.1
      }
    ]
  },
  options:
  {
    responsive:false,
    scales:
    {
        x:
        {
            type: 'time',
        }
    }
}
});
</script>


{% endblock %}

