@use "../toolbox/pallets";

.alert {
    background-color: pallets.$pastel-blue;
    color: pallets.$dark-black;
    box-shadow: 0 0 10px rgba(pallets.$pastel-blue, 0.5);
    padding: 1rem;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: fixed;

    &--danger {
        @extend .alert;
        background-color: pallets.$pastel-pink;
        box-shadow: 0 0 10px rgba(pallets.$accent-warm, 0.5);
    }

    &--success {
        @extend .alert;
        background-color: pallets.$pastel-green;
        box-shadow: 0 0 10px rgba(pallets.$accent-mint, 0.5);
    }
}
