@use "../toolbox/functions";
@use "../toolbox/pallets";

// only two for now. Will make more in the future
.button {
    @include functions.rounded;

    background-color: pallets.$accent-warm;
    color: white;
    font-size: 12px;
    padding: 0.5rem 0.7rem;
    margin: 0 0.5rem;
    box-shadow: 0 0.3rem 10px rgba(pallets.$accent-warm, 0.5);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    border: none;

    &:hover {
        background-color: pallets.$accent-warm-light;
        color: pallets.$dark-steel;
    }

    &--dynamic {
        @extend .button;
        &:hover {
            margin: 0 0.8rem;
            transform: scale(1.1);
        }
    }

    &--green {
        @extend .button;
        background-color: pallets.$accent-mint;
        box-shadow: 0 0.3rem 10px rgba(pallets.$accent-mint, 0.3);

        &:hover {
            background-color: pallets.$accent-mint-light;
            color: pallets.$dark-steel;
        }
    }
}
