@use "../toolbox/pallets";

.link {
    text-align: center;
    color: pallets.$accent-cold;
    text-decoration: none;

    &:hover {
        color: pallets.$accent-cold-light;
    }

    &--light {
        @extend .link;
        text-decoration: none;
        color: pallets.$light-white;

        &:hover {
            color: pallets.$accent-warm-light;
        }
    }
}
