.accordion {
    margin: 100px auto;
    width: 600px;

    li {
        list-style: none;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
        background: #e3d1c6;
        color: #000000;

        label {
            padding: 10px;
            display: flex;
            justify-content: right; /* justifies all content in the labels -Jade*/
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            color: #0e2f44;

            span {
                justify-content: right;

                . + #carrot {
                    transform: rotate(180deg);
                    font-size: 22px;
                }
            }
        }
    }

    label + input[type="checkbox"] {
        display: none;

        &:checked + .content {
            max-height: 100px;
        }
    }

    .content {
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition-duration: 1s;
    }
}
