
/* ========= FONTS ========= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::before,
*::after {
        box-sizing: border-box;
}

html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(34, 42, 66, 0);
}

/* ========= BODY ========= */
body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #525F7F;
        text-align: left;
        background-color: #1E1E2F;
}

/* ========= WRAPPER ========= */
.wrapper {
        position: relative;
        top: 0;
        height: 100vh;
}

.wrapper.wrapper-full-page {
        min-height: 100vh;
        height: auto;
}

/* ========= SIDEBAR ========= */
.nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
}

.sidebar {
        background: #3254a5;
        background: linear-gradient(0deg, #3254a5 85%, #222f45 99%);
        height: calc(100vh - 90px);
        width: 230px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-size: cover;
        background-position: center center;
        display: block;
        box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
        margin-top: 80px;
        margin-left: 20px;
        border-radius: 5px;
        transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.sidebar .sidebar-wrapper {
        width: 100%;
        min-height: 100%;
        max-height: calc(100vh - 705px);
        z-index: 4;
        position: relative;
        overflow: auto;
}

.sidebar .nav {
        margin-top: 20px;
        display: block;
}

.sidebar .nav>li>a {
        margin: 10px 15px 0;
        border-radius: 30px;
        color: #fff;
        display: block;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 0.62475rem;
        padding: 10px 8px;
        line-height: 1.625rem;
}

.sidebar .nav li:first-child>a {
        margin: 0 15px;
}

.sidebar .nav li:hover:not(.active)>a p,
.sidebar .nav li:hover:not(.active)>a i,
.sidebar .nav li:focus:not(.active)>a p,
.sidebar .nav li:focus:not(.active)>a i {
        color: #fff;
}

.sidebar .nav li:hover:not(.active)>a i,
.sidebar .nav li:focus:not(.active)>a i {
        color: #fff;
}

.sidebar .nav li.active>a:not(.active)::before {
        content: '';
        position: absolute;
        height: 6px;
        width: 6px;
        top: 22px;
        left: -4px;
        background: #fff;
        border-radius: 50%;
}

.sidebar .nav p {
        margin: 0;
        line-height: 30px;
        position: relative;
        display: block;
        height: auto;
        white-space: nowrap;
}


.sidebar .nav i {
        font-size: 20px;
        float: left;
        margin-right: 12px;
        line-height: 30px;
        width: 34px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        position: relative;
}

.sidebar .logo {
        position: relative;
        padding: 0.5rem 0.7rem;
        z-index: 4;
}

.sidebar .logo a.logo-mini {
        opacity: 1;
        float: left;
        width: 34px;
        text-align: center;
        margin-left: 10px;
        margin-right: 12px;
}

.sidebar .logo a.logo-normal {
        display: block;
        opacity: 1;
        transform: translate3d(0px, 0, 0);
}

.sidebar .logo:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 15px;
        height: 1px;
        width: calc(100% - 30px);
        background: rgba(255, 255, 255, 0.5);
}

.sidebar .logo p {
        float: left;
        font-size: 20px;
        margin: 10px 10px;
        color: #ffffff;
        line-height: 20px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .logo .simple-text {
        text-transform: uppercase;
        padding: 0.5rem 0;
        display: block;
        white-space: nowrap;
        color: #ffffff;
        text-decoration: none;
        font-weight: 400;
        line-height: 30px;
        overflow: hidden;
}

/* ============ MAIN PANEL ===========  */
.main-panel {
        position: relative;
        float: right;
        width: 100%;
        min-height: 100vh;
        border-top: 3px solid #222f45;
        background: linear-gradient(#1e1e2f, #1e1e24);
        transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}

.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
}

.col-md-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.navbar {
        padding: 15px 30px 10px 15px;
        width: 100%;
        z-index: 1050;
        background: #1a1c29;
}

.navbar-brand {
        display: inline-block;
        padding-top: 0.40681rem;
        padding-bottom: 0.40681rem;
        margin-right: 0.9375rem;
        font-size: 0.99925rem;
        line-height: inherit;
        white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
        text-decoration: none;
}

.navbar .navbar-brand {
        position: fixed;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        color: #ffffff;
        margin-left: 17px;
        margin-top: 3px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
}

.navbar .navbar-wrapper {
        display: flex;
        align-items: center;
}

.navbar .navbar-brand {
        margin-left: 20px;
        position: relative;
}

.main-panel>.navbar {
        margin-bottom: 0;
}

.perfect-scrollbar-on .sidebar,
.perfect-scrollbar-on .main-panel {
        height: 100%;
        max-height: 100%;
}

@media (max-width: 991.98px) {
        .navbar-expand-lg>.container-fluid {
                padding-right: 0;
                padding-left: 0;
        }
}

@media (min-width: 992px) {
        .navbar-expand-lg {
                flex-flow: row nowrap;
                justify-content: flex-start;
        }

        .navbar-expand-lg>.container-fluid {
                flex-wrap: nowrap;
        }

        .navbar-expand-lg .navbar-toggler {
                display: none;
        }
}

/* ============ SIDEBAR MEDIA ============== */
@media (min-width: 991px) {

        .sidebar,
        .main-panel,
        .sidebar-wrapper {
                transition-property: top, bottom, width;
                transition-duration: 0.2s 0.2s 0.35s;
                transition-timing-function: linear, linear, ease;
                -webkit-overflow-scrolling: touch;
        }
}

@media screen and (max-width: 991px) {
        .sidebar {
                position: fixed;
                display: block;
                top: 0;
                height: 100%;
                width: 260px;
                right: auto;
                left: 0;
                margin: 0;
                border-radius: 0;
                z-index: 1032;
                visibility: visible;
                overflow-y: visible;
                padding: 0;
                transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
                transform: translate3d(-260px, 0, 0);
        }
}

@media screen and (max-width: 991px) {
        .main-panel {
                width: 100%;
        }

        .main-panel .content {
                padding-left: 30px;
        }

        .nav-open .main-panel {
                right: 0;
                transform: translate3d(260px, 0, 0);
        }

        .nav-open .sidebar {
                transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
                transform: translate3d(0px, 0, 0);
        }
}

@media screen and (max-width: 991px) and (prefers-reduced-motion: reduce) {
        .sidebar {
                transition: none;
        }
}

@media screen and (max-width: 991px) {
        .nav-open .sidebar:before {
                content: unset;
        }

        .nav-open body {
                position: relative;
                overflow-x: hidden;
        }
}

@media screen and (max-width: 991px) {
        .wrapper {
                transition: 0.5s, cubic-bezier(0.685, 0.0473, 0.346, 1);
        }
}

@media screen and (max-width: 991px) and (prefers-reduced-motion: reduce) {
        .wrapper {
                transition: none;
        }
}

.main-panel>.content {
        padding: 36px 30px 30px 280px;
        min-height: calc(100vh - 70px);
}

/* ============ NAVBAR TOGGLER ============= */
.d-inline {
        display: inline !important;
}

.navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 0.99925rem;
        line-height: 1;
        background-color: transparent;
        border: 0.0625rem solid transparent;
        border-radius: 0.25rem;
        cursor: pointer;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
        text-decoration: none;
}

.navbar .navbar-toggle button:focus,
.navbar .navbar-toggler {
        outline: none;
}

.navbar .navbar-toggler-bar {
        display: block;
        position: relative;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background: #ffffff;
}

.navbar .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 7px;
}

.navbar .navbar-toggler-bar.bar2 {
        width: 17px;
        transition: width .2s linear;
}

.navbar .toggled .navbar-toggler-bar {
        width: 24px;
}

.navbar .toggled .navbar-toggler-bar+.navbar-toggler-bar {
        margin-top: 5px;
}

@media screen and (min-width: 992px) {
        .navbar .navbar-toggle {
                display: none;
        }
}

.bar1,
.bar2,
.bar3 {
        outline: 1px solid transparent;
}

.bar1 {
        top: 0px;
        animation: topbar-back 500ms 0s;
        animation-fill-mode: forwards;
}

.bar2 {
        opacity: 1;
}

.bar3 {
        bottom: 0px;
        animation: bottombar-back 500ms 0s;
        animation-fill-mode: forwards;
}

.toggled .bar1 {
        top: 6px;
        animation: topbar-x 500ms 0s;
        animation-fill-mode: forwards;
}

.toggled .bar2 {
        opacity: 0;
}

.toggled .bar3 {
        bottom: 6px;
        animation: bottombar-x 500ms 0s;
        animation-fill-mode: forwards;
}

@keyframes topbar-x {
        0% {
                top: 0px;
                transform: rotate(0deg);
        }

        45% {
                top: 6px;
                transform: rotate(145deg);
        }

        75% {
                transform: rotate(130deg);
        }

        100% {
                transform: rotate(135deg);
        }
}

@keyframes topbar-back {
        0% {
                top: 6px;
                transform: rotate(135deg);
        }

        45% {
                transform: rotate(-10deg);
        }

        75% {
                transform: rotate(5deg);
        }

        100% {
                top: 0px;
                transform: rotate(0);
        }
}

@keyframes bottombar-x {
        0% {
                bottom: 0px;
                transform: rotate(0deg);
        }

        45% {
                bottom: 6px;
                transform: rotate(-145deg);
        }

        75% {
                transform: rotate(-130deg);
        }

        100% {
                transform: rotate(-135deg);
        }
}

@keyframes bottombar-back {
        0% {
                bottom: 6px;
                transform: rotate(-135deg);
        }

        45% {
                transform: rotate(10deg);
        }

        75% {
                transform: rotate(-5deg);
        }

        100% {
                bottom: 0px;
                transform: rotate(0);
        }
}

@keyframes fadeIn {
        0% {
                opacity: 0;
        }

        100% {
                opacity: 1;
        }
}

/* ========== COL MEDIA ======== */
@media (min-width: 768px) {
        .col-md-12 {
                flex: 0 0 100%;
                max-width: 100%;
        }
}

/* ========== CARD ============= */
.card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #ffffff;
        background-clip: border-box;
        border: 0.0625rem solid rgba(34, 42, 66, 0.05);
        border-radius: 0.2857rem;
}

.card {
        background: #27293d;
        border: 0;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.card .card-header {
        padding: 15px 15px 0;
        border: 0;
        color: rgba(255, 255, 255, 0.8);
}

.card .card-header .card-title {
        color: #ffffff;
        font-weight: 250;
        font-size: 1.1625rem;
}

.card .card-title {
        margin-bottom: 0.75rem
}

.card-body {
        flex: 1 1 auto;
        padding: 1.5rem;
}

.card .card-body {
        padding: 15px;
}

/* =========== TABLE ============ */
.table {
        width: 100%;
        margin-bottom: 1rem;
        color: #525f7f;
        background-color: transparent;
}

table {
        border-collapse: collapse;
}

.table th,
.table td {
        padding: 1rem;
        vertical-align: top;
        border-top: 0.0625rem solid #e3e3e3;
}

.table>tbody>tr>td {
        color: rgba(255, 255, 255, 0.7) !important;
}

.table>tbody>tr {
        position: relative;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
        border-color: rgba(255, 255, 255, .1);
        padding: 12px 7px;
        vertical-align: middle;
}

.table>thead>tr>th {
        border-bottom-width: 1px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        border: 0;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        color: rgba(255, 255, 255, .7);
}

/* ========== TABLE MEDIA ============ */
.table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
}

.table-responsive {
        overflow: scroll;
        padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
        .main-panel .content {
                padding-left: 15px;
                padding-right: 15px;
        }
}

/* =================== TAB LIST ================= */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
    color: white;
}

.tab {
    cursor: pointer;
    padding: 10px;
    font-weight: 200;
}

.tab.active {
    color: #f8f9fa;
    font-weight: normal;
}

.tab:hover {
    color: #d0d2d5;
}

.tab-content {
    margin-top: 20px;
}
