{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}

<!-- Chart JS -->
<!-- OLD
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/exercise_list.css')}}">
<link rel="stylesheet" href="{{ url_for('profile.static', filename='css/profile.css')}}">
<link rel="stylesheet" href="{{ url_for('user.static', filename='css/styles.css')}}">

<div class="wrapper">
    {% if current_user.profile_picture %}
    <img src="{{ url_for('user.static', filename='img/profile_pics/' + current_user.profile_picture) }}" class="img">
    {% else %}
    <img src="{{ url_for('user.static', filename='img/profile_pics/user.svg' ) }}" class="img">
    {% endif %}
    <h1>Welcome, {{ current_user.firstname }} </h1>
</div>
<h2>You have logged in {{ current_user.consecutive_days }} day(s) in a row!</h2>

<div class="profile-wrapper">
    <div class="column">
        <h3 class="tile-name">Your Favorites</h3>
        <div class="list-container">
          {% if not showFavAdd %}
          <h2 class="tile-name">You do not have any favorite exercises =(</h2>
          {% endif %}
            <ul class="list">
                {% for exercise in exercises %}
                {% if exercise.id in showFavAdd %}
                <li class="plate">
                  <section class="upper">
                    <label for={{ exercise.id }} class="name">
                      <a class="name" href="{{ url_for('exercises.get_exercise_id', exid=exercise.id) }}"
                          target="_self">{{ exercise.exercise_name }} - {{ "%.2f"|format(exercise.cumulative_rating|default(5.0, true)) }} ★</a>
                    </label>
                {% endif %}
                {% if exercise.id in showFavAdd %}
                    <form method="post">
                      <input name="exercise_id" class="invs" type="hidden" value="{{ exercise.id }}"> </input>
                      <input name="user_id" class="invs" type="hidden" value="{{ current_user.id }}"> </input>
                      <button type="submit" name="favoriteButtonRemove" class="button--red">🖤</button>
                    </form>
                {% endif %}
                        </span>
                    </section>
                    {% if exercise.id in showFavAdd %}
                    <p class="description">
                        {{ exercise.exercise_description }}
                    </p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <script src="{{ url_for('exercises.static', filename='js/expand_list_element.js') }}"></script>
        </div>
    </div>

    <div class="column">
        <h3 class="tile-name">Your Progress</h3>
        <div class="chart-wrapper" style="text-align:center" >
            <button class = button onclick="showGraph(1)">Show past 7 days</button>
            <button class = button onclick="showGraph(2)">Show past 31 days</button>
            <button class = button onclick="showGraph(3)">Show past quarter</button>
            <button class = button onclick="showGraph(4)">Show max breath holds</button>
            <canvas id="histogram1" class="chart"></canvas>
            <canvas id="histogram2" class="chart"></canvas>
            <canvas id="histogram3" class="chart"></canvas>
            <canvas id="histogram4" class="chart"></canvas>
        </div>

<!--  Create variables for javascript using Jinja    -->
        <script>
        let yWeeklabel = {{ yDataWeek | tojson }};
        let yMonthlabel = {{ yDataMonth | tojson }};
        let yQlabel = {{ yDataQ | tojson }};
        let yDataMaxBreathHoldslabel = {{ yDataMaxBreathHolds | tojson }}


        let xWeeklabels =
        [
          {% for x in xDataWeekList %}
            "{{ x.strftime('%d %b') }}",
          {% endfor %}
        ];

        let xMonthLabels =
        [
          {% for x in xDataMonthList %}
            "{{ x.strftime('%d %b') }}",
          {% endfor %}
        ];

        let xQLabels =
        [
          {% for x in xDataQuarterList %}
            "{{ x.strftime('%d %b') }}",
          {% endfor %}
        ];

         let xBreathLabel =
        [
          {% for x in xDataMaxBreathHolds %}
            "{{ x.strftime('%d %b') }}",
          {% endfor %}
        ];


</script>

    </script>
    </div>
    <script src="{{ url_for('profile.static', filename='js/profileGraphJS.js') }}"></script>


</div>
{% endblock %}
