.wrapper {
  margin: 0 5%;
}
.wrapper .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper .sec-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.wrapper .sec-boxes .box {
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr auto;
  gap: 1rem 0.5rem;
  background: #050f1b;
}
.wrapper .sec-boxes .box .box-header {
  text-align: center;
  font-size: 25px;
  grid-area: 1/1/span 1/span 2;
}
.wrapper .sec-boxes .box .box-description {
  grid-area: 2/1;
  letter-spacing: 0.05rem;
}
.wrapper .sec-boxes .box .button {
  grid-area: 3/1/span 1/span 2;
  margin: auto;
  width: 10rem;
}
.wrapper .sec-boxes .box img {
  border-radius: 10px;
  grid-area: 2/2;
  padding: 0.5rem;
  width: 200px;
  box-shadow: inset 0px 0px 5px #e6e8ff;
  background-image: radial-gradient(#a4c3ef 5%, rgba(0, 0, 0, 0) 90%);
}