{% extends 'base.html' %}
{% block title %}
Exercises
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/feather_breathing.css')}}">
<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/exercise_page.css')}}">
<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/Stopwatch_style.css')}}">


<div>
    <div>
        <h1 class="ExerciseName">{{ this_exercise.exercise_name }}</h1>
        <h3 class="ExerciseInstructions">{{ this_exercise.exercise_instructions }}</h3>
        <div class="BreathHoldContainer">

        <h1>Inner Air Timer</h1>
        <div id = "time">
                <span class = "digits" id = "min">00</span>
                <span class = "text">Minutes</span>
                <span class = "digits" id = "sec">00</span>
                <span class = "text">Seconds</span>
                <span class = "digits" id = "count"></span>
        </div>

        <div id = "buttons">
            <button class = "btn" id = "start"> Start </button>
            <button class = "btn" id = "stop"> Stop </button>
            <button class = "btn" id = "reset"> Reset </button>

               <form action="" method="post">
                   <input type="hidden" id="breathHoldTotalSeconds" name="breathHoldTotalSeconds" value="00">
                   <button class ="btn" id = "submitHold"> Submit </button>
                </form>

        </div>

    <script src="{{ url_for('exercises.static', filename='js/Stopwatch_script.js') }}"></script>

        </div>
        <h3 class="ExerciseRating">Global Rating: {{ this_exercise.cumulative_rating }}</h3>
        <div class="ExerciseRatingTool">
            <form method="POST" class="form-rate">
                {{ form.hidden_tag() }}
                {{ form.RateField.label }}
                {% for subfield in form.RateField %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
                {{ form.submit(class="button") }}

            </form>
        </div>
        <h3 class="ExerciseDescription">{{ this_exercise.exercise_description }}</h3>

    </div>
</div>
{% endblock %}
