{% extends 'base.html' %}
{% block title %}
Exercises
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/styles.css')}}">

<h1>Welcome, {{ current_user.firstname }} </h1>

<div class="accordion">
    <ul>
        {% for exercise in exercises %}
        <li>
            <label for={{ exercise.id }}>{{ exercise.exercise_name }}
                <span id="favorite-button">
                    {% if exercise.id not in showFavAdd %}
                    <form method="post">
                        <input name="exercise_id" class="invs" type="hidden" value="{{ exercise.id }}"> </input>
                        <input name="user_id" class="invs" type="hidden" value="{{ current_user.id }}"> </input>
                        <button type="submit" name="favoriteButton" class="button--green">Favorite</button>
                    </form>
                    {% endif %}
                    {% if exercise.id in showFavAdd %}
                    <form method="post">
                        <input name="exercise_id" class="invs" type="hidden" value="{{ exercise.id }}"> </input>
                        <input name="user_id" class="invs" type="hidden" value="{{ current_user.id }}"> </input>
                        <button type="submit" name="favoriteButtonRemove" class="button">Unfavorite</button>
                    </form>
                    {% endif %}
                </span>
                <span id="carrot">^</span>
            </label>
            <input type="checkbox" name="accordion" id={{ exercise.id }}>
            <div class="content">
                <p>{{ exercise.exercise_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}