{% extends 'base.html' %}
{% block title %}
    Exercises
{% endblock %}
{% block content %}

    <div class="container-fluid overlay min-vh-100 py-5 mt-5">
        <h3>Welcome, {{ current_user.firstname }} </h3>

        <div>
            <h1 class="ExerciseName" align="center">{{  this_exercise.exercise_name  }}</h1>
            <h1 class="ExerciseInstructions" align="center">{{  this_exercise.exercise_instructions  }}</h1>
            <h1 class="ExerciseDescription" align="center">{{  this_exercise.exercise_description  }}</h1>
            <h1 class="ExerciseRating" align="center">{{  this_exercise.cumulative_rating  }}</h1>
        </div>


        <div class="AnimationBorder">
            <div class="featherObject">
            </div>
        </div>
    </div>

    <script defer src="{{ url_for('.static', filename='js/app.js')}}"></script>
{% endblock %}
