{% extends 'base.html' %}
{% block title %}
Exercises
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/feather_breathing.css')}}">
<link rel="stylesheet" href="{{ url_for('exercises.static', filename='css/exercise_page.css')}}">


<div>
    <h3>Welcome, {{ current_user.firstname }} </h3>
    <div>
        <h1 class="ExerciseName">{{ this_exercise.exercise_name }}</h1>
        <h3 class="ExerciseInstructions">{{ this_exercise.exercise_instructions }}</h3>
        <div class="breathing-animation-container">
            <div class="animation-scope"> <img id="feather" class="float-object"
                    src="{{ url_for('exercises.static', filename='img/feather.svg') }}"></img>
            </div>
            <button id="start-button" class="button--green">Start</button>

    <script src="{{ url_for('exercises.static', filename='js/breathing-animation.js') }}"></script>
        </div>
        <h3 class="ExerciseRating">Global Rating: {{ this_exercise.cumulative_rating }}</h3>
        <div class="ExerciseRatingTool">
            <form>

                <span class="star-cb-group">
                  <input type="radio" id="rating-0" name="rating" value="0" /><label>0</label>
                  <input type="radio" id="rating-1" name="rating" value="1" /><label>1</label>
                  <input type="radio" id="rating-2" name="rating" value="2" /><label>2</label>
                  <input type="radio" id="rating-3" name="rating" value="3" /><label>3</label>
                  <input type="radio" id="rating-4" name="rating" value="4" /><label>4</label>
                  <input type="radio" id="rating-5" name="rating" value="5" /><label>5</label>
                </span>

            </form>
        </div>
        <h3 class="ExerciseDescription" >{{ this_exercise.exercise_description }}</h3>

    </div>
    <div class="AnimationBorder">
        <div class="featherObject">
        </div>
    </div>
</div>


{% endblock %}
