<div class="sidebar">
	<div class="sidebar-wrapper">
		<div class="logo">
			<img src="{{ url_for('user.static', filename='img/def_pic.png' ) }}" class="logo__img"></img>
			<span class="logo__text">{{current_user.firstname }}</span>
		</div>
		<hr>
		<ul class="nav">
			<li class="{% if 'index' in segment %} active {% endif %} ">
				<a href="{{ url_for('user.profile', id=current_user.id) }}">
					<i class="fa-solid fa-user"></i>
					<p>Profile</p>
				</a>
			</li>
			<li class="{% if 'index' in segment %} active {% endif %} ">
				<a href="{{ url_for('user.emails', id=current_user.id) }}">
					<i class="fa-solid fa-envelope"></i>
					<p>Emails</p>
				</a>
			</li>
			<li class="{% if 'index' in segment %} active {% endif %} ">
				<a href="#">
					<i class="fa-solid fa-lock"></i>
					<p>Passwords & Authentication</p>
				</a>
			</li>
		</ul>
	</div>
</div>