{% extends 'base.html' %}
{% block title %}
leaderboard
{% endblock %}
{% block content %}



 <div class="container-fluid overlay min-vh-100 py-5 mt-5">

        <h2 class="text-center">Leaderboard - The Longest Login Streak</h2>
        <table class="table table-hover table-dark">
            <!-- Leaderboard -->
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Consecutive Days</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usersConsecutive %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.consecutive_days }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

 <div class="container-fluid overlay min-vh-100 py-5 mt-5">

        <h2 class="text-center">Leaderboard - Breath Holds in seconds</h2>
        <table class="table table-hover table-dark">
            <!-- Leaderboard -->
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Held Breath (Control Pause) for  </th>
                </tr>
            </thead>
            <tbody>
                {% for user in usersHeldDict %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ usersHeldDict[user]|round|int }} seconds</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
