.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    position: relative;
    background-color: #18181B;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    width: 50%;
    max-height: 75%;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.modal-content p {
    margin: 1rem 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0rem 0.75rem;
    cursor: pointer;
    user-select: none;
}

/* modal 1 */
#one {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

#one .modal-content {
    margin-top: 10%;
    padding: 0;
    background-color: transparent;
}

#one .modal-header,
#one .modal-footer {
    padding: 1rem;
    color: #fff;
    text-align: center;
}

#one .modal-header h2 {
    margin: 1rem;
}

#one .modal-body {
    text-align: center;
}

#one .modal-content .modal-footer a {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}
#one .modal-redirect {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.75rem;
}
#one .left-arrow {
    font-size: 1.5rem;
}

/* modal 2 */
#two {
    justify-content: center;
    align-items: center;
}

#two .modal-content {
    width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

#two .modal-content h2 {
    margin: 0;
    font-size: 1.625rem;
    font-weight: 500;
}

#two .modal-header {
    background-color: #d2ddf7;
    height: 150px;
    width: 150px;
    color: #273c67;
    font-size: 5.625rem;
    border-radius: 50%;
    border: solid #304f99;
    border-width: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#two .modal-body {
    text-align: center;
    font-size: 14px;
}

#two .modal-content hr {
    border: dotted 6px;
    border-bottom: none;
    width: 7%;
    margin: 10px auto;
}

/* line break */
.br span {
    display: block;
    text-align: center;
}

/* spinner */
.button {
    display: inline-flex;
    position: relative;
}

.button.spinner {
    padding-right: 35px;
}

.button.spinner::after {
    content: '';
    right: 6px;
    top: 50%;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 50%;
    animation: spin 0.75s ease infinite,
               exist 0.1s ease forwards;
}

.button.spinner::before {
    content: '';
    width: 0px;
    height: 0px;
    border-radius: 50%;
    right: 6px;
    top: 50%;
    position: absolute;
    border: 2px solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;

    animation: spin 0.75s ease infinite,
               exist 0.1s ease forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}


.wrapper {
    display: flex;
    align-items: center;
}

.img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

.profile__img {
    position: relative;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
}

/* sidebar */
.sidebar {
    height: calc(100vh - 90px);
    width: 380px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin-top: 80px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.sidebar-wrapper {
    width: 100%;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    z-index: 4;
    position: relative;
    overflow: auto;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0.7rem;
    z-index: 4;
}

.logo__img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

.logo__text {
    font-size: 1.3rem;
}

.nav {
    margin-top: 20px;
    display: block;
}

.nav li > a + div .nav {
  margin-top: 5px;
}
.nav li > a + div .nav li > a {
  margin-top: 0px;
  padding: 8px 8px;
}

.nav li > a {
  margin: 10px 15px 0;
  border-radius: 50%;
  color: #fff;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 8px;
  line-height: 30px;
}
.nav li:first-child > a {
  margin: 0 15px;
}

.nav p {
    margin: 0;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: #fff;
    position: relative;
}

.dl {
    display: flex;
    flex-direction: column;
}

.dl__wrapper {
   position: relative;
   width: 100%;
   left: 0;
   top: 50%;
   text-align: center;
   margin: auto;
   transform: translate(-2%, 25%);
}

.dl__wrapper:hover {
    color: #fff;
}

input[type="file"] {
    display: none;
}

.form-section__text {
    display: flex;
    align-items: center;
}

.profile_picture {
    height: 60px;
    width: 250px;
}

.dl__pen--color {
    color: #E6EDF3;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
