@use "../../../dev/scss/toolbox" as tl;
@use "sass:color";

.exercise-container {
    @include tl.flex-spread;
    flex-direction: column;
    margin: auto 2rem;
    gap: 1rem;
}

.exe-instructions { 
    line-height: 1.6rem;
    font-size: 17px;
}
