@use "../../../dev/scss/toolbox" as tl;
@use "sass:color";

// page container
.stopwatch-container {
    @include tl.flex-spread;
    flex-direction: column;
    margin: auto 2rem;
    gap: 1rem;

    .digits {
        text-align: center;
        font-size: 120px;
        color: azure;
    }

    // actual timer box
    .timer {
        @include tl.rounded;
        @include tl.drop-shade;
        padding: 1rem;
        background-image: radial-gradient(
            color.adjust(tl.$tinted-azure, $lightness: -30%),
            tl.$dark-black
        );

        // row of digits
        #time {
            @include tl.flex-spread;
            justify-content: center;
            gap: 1rem;
            width: 38rem;
            margin: 0 auto;

            .digits {
                display:inline-block;
                width: 9rem;
            }
        }

        // timer buttons overwrite
        .buttons {
            @include tl.flex-spread;
            justify-content: center;
            gap: 1rem;
            height: 4rem;
            margin: auto;

            button {
                font-size: 15px;
            }
        }
    }
}
