@use "../../../dev/scss/toolbox" as tl;
@use "components";
@use "sass:color";

.about {
    @include tl.rounded;
    @include tl.flex-spread;
    @include tl.drop-shade;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    margin: auto 10%;
    background: rgba(tl.$dark-black, 0.8);
    background-image: radial-gradient(
        color.adjust(tl.$tinted-azure, $lightness: -30%),
        tl.$dark-black
    );
    row-gap: 3em;
    column-gap: 6em;

    .box {
        @include tl.flex-spread;
        flex-direction: column;
        justify-content: start;
        padding: 1em;
        height: 370px;
        width: 260px;
        text-align: center;

        .about_img {
            @include tl.drop-shade;
            border: 2px tl.$light-white solid;
            margin-bottom: 0.5rem;
            position: center;
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
            display: block;
        }
    }
}

.contact {
    padding: 1em;
    display: block;
    margin: 0 auto;
    text-align: center;

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }
}
