@use "../../../dev/scss/toolbox" as tl;
@use "components";

.about {
    @include tl.rounded;
    @include tl.flex-spread;
    @include tl.drop-shade;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    margin: auto 10%;
    background: rgba(tl.$dark-black, 0.8);
    row-gap: 3em;
    column-gap: 8em;

    .box {
        @include tl.flex-spread;
        flex-direction: column;
        justify-content: start;
        padding: 1em;
        height: 350px;
        width: 250px;
        text-align: center;

        .about_img {
            @include tl.drop-shade;
            border: 2px tl.$light-white solid;
            margin-bottom: 0.5rem;
            position: center;
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
            display: block;
        }
    }
}

.contact {
    display: block;
    margin: 0 auto;
    text-align: center;
}
