@use "../../../dev/scss/toolbox";
@use "components";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include toolbox.flex-spread;
    background-image: url("/inner_air.main.routes/img/background_image.svg");
    background-size: cover;

    color: toolbox.$light-white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .container {
        background-color: rgba(toolbox.$dark-steel, 0.8);
        backdrop-filter: blur(20px);

        min-width: 85%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        min-height: 100vh;
        height: fit-content;
    }
}
