.ExerciseName{
    text-align: center;
    padding: 10px;
}

.ExerciseInstructions{
    text-align: center;
    padding: 10px;
}

.ExerciseRating{
    text-align: center;
    padding: 10px;
}

.ExerciseDescription{
    text-align: center;
    padding: 10px;
}

.ExerciseRatingTool{
    text-align: center;
    padding: 10px;
}
