.ExerciseName {
  text-align: center;
  padding: 1rem;
}

.ExerciseInstructions {
  text-align: center;
  padding: 1rem;
}

.ExerciseRating {
  text-align: center;
  padding: 1rem;
}

.ExerciseDescription {
  text-align: center;
  padding: 1rem;
}

.ExerciseRatingTool {
  text-align: center;
  padding: 1rem;
}