.breathing-animation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  background-color: #050f1b;
  background-image: radial-gradient(#0e1830, #050f1b);
  height: 90vh;
  padding: 1rem;
}
.breathing-animation-container .animation-scope {
  border-radius: 10px;
  background-color: rgba(5, 15, 27, 0.2);
  height: 50vh;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breathing-animation-container .animation-scope .float-object {
  position: relative;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 120px;
  height: auto;
  animation: 8s infinite linear sway;
}
.breathing-animation-container #star-button {
  font-size: 50px;
}

.top {
  top: -12rem;
}

.bottom {
  top: 12rem;
}

@keyframes sway {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-30deg);
  }
  85% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}