@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}



.AnimationBorder {
  border: 4px solid #777;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* feather is currently a box :) */
.featherObject {
  background-color: #165baa;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: .5em;
  animation: MoveUpDown 2s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}